{% extends "registration/base.html" %}

{% block title %} 
{% block page_title %}
حذف دسته
{% endblock %}
{% endblock %}

{% block main %}
<div class="col-md-8 text-center mx-auto" >
        <div class="card card-danger">
            <div class="card-header m-0">
            <h3 class="card-title float-left">حذف دسته</h3>
            </div>
            <div class="card-body  ">
                <form method="post">{% csrf_token %}
                    <p>آیا از حذف دسته  "{{ object }} "  مطمین هستید؟</p>
                    {{ form }}
                    <button class="btn btn-danger " type="submit" >حذف </button>
                </form>
            </div>
        </div>
    </div>      
{% endblock %}