<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تقاضای ریست</title>
</head>
<body dir="rtl">
    <div class="container">
        <h3 class="fs-4" style="text-align: center;">تقاضای ریست رمز فرستاده شد</h3>
    <p>
        دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این دستورالعمل‌ها را دریافت کنید.

اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و پوشهٔ اسپم خود را نیز چک کنید.
    </p>
    </div>
</body>
</html>