{% extends "registration/base.html" %}
{% load crispy_forms_tags %}

{% block title %} 
{% block page_title %}
تغییر رمز عبور
{% endblock %}
{% endblock %}

{% block main %}

<div class="card card-info">
    <div class="card-header">
      <h3 class="card-title float-left">تغییر رمز عبور</h3>
    </div>
    <div class="card-body">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
              {{ form.old_password|as_crispy_field }}
            </div>
            <div class="col-6">
            </div>
            <div class="col-6">
                {{ form.new_password1|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.new_password2|as_crispy_field }}
              </div>
             
        </div>   
        <button type="submit" class="btn btn-success my-3"> تغییر گزرواژه</button>
    </form>

</div>
</div>
{% endblock %}