{% extends "base.html" %}
{% load static %}
{% block header %} {{article.sumbnail.url}} {% endblock %}
{% block title %} | {{article.title}}{% endblock %}
{% block htitle %} {{article.title}}{% endblock %}
{% block main %}
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 ">
                {{article.description|safe}}
            </div>
        </div>
    </div>
</article>
{% endblock %}